body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FBFD;
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}
.item-ul {
    color: blue;
}